<div class="mobile-overlay is-open" data-menu>
  <div class="mobile-menu">
    <button class="mobile-menu-close-btn" data-menu-close>
      <svg width="32" height="32">
        <use href="/public/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mobile-menu-list">
      <li class="mobile-menu-list-item">
        <a href="#order-steps-sect" class="mobile-menu-list-link active">
          How it works
        </a>
      </li>
      <li class="mobile-menu-list-item">
        <a href="#vegetables-sect" class="mobile-menu-list-link">
          Vegetables
        </a>
      </li>
      <li class="mobile-menu-list-item">
        <a href="#revies-sect" class="mobile-menu-list-link"> Reviews </a>
      </li>
    </ul>
    <a href="#shop-now" class="mobile-menu-shop-now-btn"> Shop now </a>
  </div>
</div>
