<div class="mobile-overlay is-open" data-menu="menu">
  <div class="mobile-menu">
    <button class="mobile-menu-close-btn" data-menu-close="menu-close">
      <svg width="32" height="32">
        <use href="/public/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="mobile-menu-list">
      <li class="mobile-menu-list-item">
        <a href="" class="mobile-menu-list-link active">How it works</a>
      </li>
      <li class="mobile-menu-list-item">
        <a href="" class="mobile-menu-list-link">Vegetables</a>
      </li>
      <li class="mobile-menu-list-item">
        <a href="" class="mobile-menu-list-link">Reviews</a>
      </li>
    </ul>
    <button class="mobile-menu-shop-now-btn">Shop now</button>
  </div>
</div>
