<section id="shop-now" class="section-six">
  <div class="container">
    <div class="your-order-title-paragraf">
      <!-- TITLE -->
      <h2 class="your-order-title">
        Fresh <span class="your-order-span">Harvest</span> Box has got you
        covered
      </h2>
      <!-- /TITLE -->
      <!-- PARAGRAF -->
      <p class="your-order-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
      <!-- /PARAGRAF -->
    </div>
    <div class="input-img-container">
      <div class="your-order-wrapper-input">
        <div class="your-order-par-cont">
          <p class="your-order-text-input">
            Ordering <span class="your-order-from-us">from us</span> is quick
            and easy! Fill out
            <span class="your-order-the-form">the form</span> below and we will
            contact you !
          </p>
        </div>
        <!-- FORM -->
        <form>
          <div class="your-order-form-input-container">
            <input
              class="your-order-input"
              type="text"
              name="username"
              placeholder="Full Name"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
            <input
              class="your-order-input"
              type="email"
              name="email"
              placeholder="Email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
            <textarea
              class="your-order-input-comment"
              name="user-commet"
              placeholder="Comment"
            ></textarea>
          </div>
          <button class="your-order-btn" type="submit">Send</button>
        </form>
        <!-- /FORM -->
      </div>
      <div class="your-order-img-container-list">
        <div class="your-order-img">
          <!-- PICTURE -->
          <picture>
            <source
              srcset="
                /img/section-six-img/section-six-desktop@1x.jpg 1x,
                /img/section-six-img/section-six-desktop@2x.jpg 2x
              "
              media="(min-width: 320px) and (max-width: 375px)"
            />
            <source
              srcset="
                /img/section-six-img/section-six-tablet@1x.jpg 1x,
                /img/section-six-img/section-six-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/section-six-img/section-six-mobile@1x.jpg 1x,
                /img/section-six-img/section-six-mobile@2x.jpg 2x
              "
              media="(max-width: 1280px)"
            />
            <img
              class="your-order-img-container"
              src="/img/section-six-img/section-six-mobile@1x.jpg"
              alt="picture fresh harvest"
            />
          </picture>
          <!-- /PICTURE -->
        </div>
        <div>
          <p class="your-order-follow">Follow us on our social networks:</p>
          <!-- LIST SOCIAL -->
          <ul class="your-order-social-list">
            <li>
              <a
                class="your-order-link"
                href="https://www.instagram.com/goitclub/ "
                target="_blank"
                >instagram
              </a>
            </li>
            <li>
              <div class="slash">/</div>
            </li>
            <li>
              <a
                class="your-order-link"
                href="https://www.facebook.com/goITclub/ "
                target="_blank"
                >facebook</a
              >
            </li>
            <li><div class="slash">/</div></li>
            <li>
              <a
                class="your-order-link"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                >youtube</a
              >
            </li>
          </ul>
          <!-- /LIST SOCIAL -->
        </div>
      </div>
    </div>
  </div>
</section>
