<section class="section-one">
  <div class="section-one-flex">
    <div class="container section-one-hero">
      <!------- Title ------->
      <h1 class="section-one-title">organic vegetables to your diet today!</h1>
      <!------- /Title ------>
      <!------- Text -------->
      <p class="section-one-text">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
    </div>
    <!------- /Text -------->

    <div class="section-one-picture"></div>
  </div>
</section>
