<section class="section-four">
  <div class="container section-four-container">
    <!-- TITLE -->
    <h2 class="section-four-title">
      organic&nbsp;<span class="section-four-title-colored">vegetables</span>
    </h2>
    <!-- TITLE -->

    <!-- TEXT -->
    <p class="section-four-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <!-- TEXT -->

    <!-- LIST -->
    <ul class="section-four-list">
      <li class="section-four-list-item">
        <h3 class="section-four-list-item-title">eggplant</h3>
        <p class="section-four-list-item-price">60 USD / kg</p>
        <img
          srcset="/img/section-four-img/eggplant@2x.webp 2x"
          src="/img/section-four-img/eggplant@1x.webp"
          alt="eggplant"
        />
      </li>
      <li class="section-four-list-item">
        <h3 class="section-four-list-item-title">leek</h3>
        <p class="section-four-list-item-price">50 USD / kg</p>
        <img
          srcset="/img/section-four-img/leek@2x.webp 2x"
          src="/img/section-four-img/leek@1x.webp"
          alt="leek"
        />
      </li>
      <li class="section-four-list-item">
        <h3 class="section-four-list-item-title">mushrooms</h3>
        <p class="section-four-list-item-price">40 USD / kg</p>
        <img
          srcset="/img/section-four-img/mushrooms@2x.webp 2x"
          src="/img/section-four-img/mushrooms@1x.webp"
          alt="mushrooms"
        />
      </li>
      <li class="section-four-list-item">
        <h3 class="section-four-list-item-title">corn</h3>
        <p class="section-four-list-item-price">60 USD / kg</p>
        <img
          srcset="/img/section-four-img/corn@2x.webp 2x"
          src="/img/section-four-img/corn@1x.webp"
          alt="corn"
        />
      </li>
      <li class="section-four-list-item">
        <h3 class="section-four-list-item-title">sweet potatoes</h3>
        <p class="section-four-list-item-price">50 USD / kg</p>
        <img
          srcset="/img/section-four-img/sweet-potatoes@2x.webp 2x"
          src="/img/section-four-img/sweet-potatoes@1x.webp"
          alt="sweet potatoes"
        />
      </li>
      <li class="section-four-list-item">
        <h3 class="section-four-list-item-title">carrot</h3>
        <p class="section-four-list-item-price">40 USD / kg</p>
        <img
          srcset="/img/section-four-img/carrot@2x.webp 2x"
          src="/img/section-four-img/carrot@1x.webp"
          alt="carrot"
        />
      </li>
    </ul>
    <!-- LISt -->
  </div>
</section>
