<section class="section-five" id="revies-sect">
  <div class="container">
    <h1 class="tytle-paragraf">
      reviews from our <span class="customer">customers</span>
    </h1>
    <p class="text-paragraf">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>
    <ul class="list-of-rewiew">
      <li class="reviews-text-1">
        <img
          class="image-people-1"
          srcset="/img/section-five-img/John-Wax@2x.png 2x"
          src="/img/section-five-img/John-Wax@1x.png"
          alt="JohnWax"
        />
        <div class="john-wax">
          <h2 class="username-1">John Wax</h2>
          <p class="reviews-items-1">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </div>
      </li>
      <li class="reviews-text-2">
        <img
          class="image-people-2"
          srcset="/img/section-five-img/Victoria-Romashenko@2x 2x"
          src="/img/section-five-img/Victoria-Romashenko@1x.png"
          alt="victoriaromashenko"
        />
        <div>
          <h2 class="username-2">Victoria Romashenko</h2>
          <p class="reviews-items-2">
            I love how fast and fresh the vegetables are delivered. Salads
            always turn out so appetizing, and soups are real masterpieces. The
            quality is impeccable!
          </p>
        </div>
      </li>
      <li class="reviews-text">
        <div class="image-people-3">
          <img
            class="image-people-3"
            srcset="/img/section-five-img/Ihor-Trachuk@2x.png 2x"
            src="/img/section-five-img/Ihor-Trachuk@1x.png"
            alt="ihortrachuk"
          />
        </div>
        <div class="text-and-paragraf">
          <h2 class="username-2">Ihor Trachuk</h2>
          <p class="reviews-items-2">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my
            table. It is now my main vegetable supplier.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
