.footer-class {
    background-color: #7A3145;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 391px;
    max-width: 1280px;
    width: 100%;
    /* Адаптивна ширина */
    margin: 0 auto;
    /* Центрування */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 60px;
    /* Відступ між колонками */
}

.footer-logo-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 280px;
}

.footer-svg-logo {
    margin-bottom: 10px;
    /* Відступ між логотипом і текстом */
}

.footer-svg-text {
    margin-bottom: 20px;
    /* Відступ між svg текстом і абзацом */
}

.footer-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fbfbfb;
    margin-top: 20px;
}

.footer-menu-nav {
    display: flex;
    justify-content: center;
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-menu-li {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    margin-bottom: 15px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-contacts a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    color: #fbfbfb;
    text-decoration: none;
}

.footer-p-adress,
.footer-a-tel {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    color: #fbfbfb;
    font-style: normal;
}


.footer-privacy-policy {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
    color: rgba(251, 251, 251, 0.5);
}

.footer-policy-a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
    text-decoration: none;
}

.footer-policy-a:hover {
    color: rgba(251, 251, 251, 0.75);
}

.footer-ul-contacts {
    display: flex;
    flex-direction: column;
    gap: 25px;
}