/*========= Hedaer styles =========*/
.top-header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 20px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav-list,
.header-shop-now-link {
  display: none;
}
.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-btn-menu {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .top-header {
    top: 32px;
  }
  .header-logo-icon {
    width: 194px;
    height: 18px;
  }
  .header-logo-burger {
    width: 40px;
    height: 40px;
  }
  .header-btn-menu {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .header-container {
    display: block;
  }
  .header-btn-menu {
    display: none;
  }
  .header-logo-link {
    margin-right: 397px;
  }
  .header-nav {
    display: flex;
  }
  .header-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    margin-right: 20px;
  }
  .header-nav-list-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 12px;
  }
  .header-nav-list-item-link.link-order-steps {
    width: 114px;
    height: 44px;
  }
  .header-nav-list-item-link.link-vegetables {
    width: 101px;
    height: 44px;
  }
  .header-nav-list-item-link.link-revies {
    width: 81px;
    height: 44px;
  }
  .header-shop-now-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 52px;
    background-color: #7a3145;
    border-radius: 30px;
    border: none;

    font-weight: 600;
    font-size: 18px;
    line-height: 1.11111;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-shop-now-link:hover,
  .header-shop-now-link:focus {
    background-color: #622133;
  }
}
/*========= /Hedaer styles =========*/
