.section-six {
  background-color: #7a3145;
  padding: 80px 0 80px 0;
}
.container {
  padding: 0 20px 0 20px;
}
.your-order-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-bottom: 29px;
}
.your-order-span {
  color: rgba(251, 251, 251, 0.3);
}
.your-order-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 40px;
}
.your-order-text-input {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-bottom: 40px;
}
.your-order-from-us {
  color: #7a3145;
}
.your-order-the-form {
  color: #576f35;
}

.your-order-wrapper-input {
  border-radius: 30px;
  padding: 40px 20px;
  background-color: #fbfbfb;
  margin-bottom: 20px;
}
.your-order-form-input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}
.your-order-input {
  display: flex;
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 30px;
  width: 100%;
  min-height: 46px;
  padding: 14px 16px;
  outline: transparent;
}
.your-order-input:focus {
  border: 1px solid #7a3145;
}
.your-order-input:placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  text-align: center;
  color: #141414;
}
.your-order-input:placeholder:focus {
  font-size: 16px;
}
.your-order-input:not(:placeholder-shown):invalid {
  border: 1px solid #e74a3b;
}
.your-order-input:not(:placeholder-shown):valid {
  border: 1px solid #3cbc81;
}
.your-order-input-comment {
  border: 1px solid rgba(20, 20, 20, 0.2);
  border-radius: 15px;
  width: 100%;
  height: 91px;
  resize: none;
  outline: transparent;
  padding: 14px 16px;
}
.your-order-input-comment:focus {
  border: 1px solid #7a3145;
}
.your-order-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  border-radius: 30px;
  height: 50px;
  color: #fbfbfb;
  background-color: #576f35;
  border: none;
  width: 100%;
}
.your-order-btn:is(:hover, :focus) {
  background-color: #6e8749;
}
.your-order-img-container-list {
  border-radius: 30px;
  padding: 40px 20px;
  background-color: #576f35;
  line-height: 8px;
}
.your-order-img {
  border-radius: 15px;
  line-height: 0.2;
  margin: 0 auto;
}
.your-order-img-container {
  border-radius: 17px;
  margin-bottom: 20px;
  object-fit: cover;
  width: 100%;
}
.your-order-follow {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 14px;
}
.your-order-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.your-order-link {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}
.slash {
  width: 9px;
  height: 26px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: -0.01em;
  color: #fbfbfb;
}

/*----------tablet----------*/
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
  .section-six {
    padding: 100px 0;
  }
  .your-order-title-paragraf {
    max-width: 640px;
  }
  .your-order-title {
    margin-bottom: 25px;
    font-size: 64px;
  }
  .your-order-text {
    margin-bottom: 50px;
    font-size: 16px;
  }
  .input-img-container {
    padding: 0 38px;
  }
  .your-order-wrapper-input {
    padding: 50px 100px;
    margin-bottom: 25px;
  }
  .your-order-img-container {
    border-radius: 20px;
    margin-bottom: 50px;
  }
  .your-order-text-input {
    margin-bottom: 50px;
  }
  .your-order-input {
    padding: 16px;
  }
  .your-order-form-input-container {
    margin-bottom: 25px;
  }
  .your-order-img-container-list {
    padding: 50px;
  }
  .your-order-follow {
    margin-bottom: 15px;
  }
  .your-order-social-list {
    gap: 12px;
  }
  .your-order-follow {
    font-size: 18px;
    line-height: 1.1;
  }
  .your-order-link {
    font-size: 32px;
    line-height: 1;
  }
  .slash {
    width: 11px;
    height: 32px;
    font-size: 32px;
    line-height: 1;
  }
  .your-order-btn {
    height: 52px;
    font-size: 18px;
    line-height: 1.1;
  }

  /*----------desktop------------*/
  @media screen and (min-width: 1280px) {
    .container {
      padding: 0 100px;
    }
    .your-order-title-paragraf {
      padding: 0;
      max-width: 751px;
    }

    .input-img-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 24px;
      padding: 0;
    }
    .your-order-wrapper-input {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 50px;
      width: 529px;
    }
    .your-order-par-cont {
      display: flex;
    }
    .your-order-img-container-list {
      display: flex;
      flex-direction: column;
      width: 527px;
    }
    .your-order-img {
      margin-bottom: 50px;
    }
    .your-order-img-container {
      border-radius: 15px;
      height: 273px;
    }
    .your-order-follow {
      margin-bottom: 15px;
    }
    .your-order-link {
      font-size: 32px;
      line-height: 1;
    }
    .your-order-social-list {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      width: 357px;
    }
    .your-order-text-input {
      margin-bottom: 50px;
    }
    .your-order-form-input-container {
      margin-bottom: 25px;
    }
    .your-order-img-container {
      margin-bottom: 0;
    }
    .your-order-input:placeholder {
      font-size: 16px;
    }
  }
}
